body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    margin-bottom: 30px;
}

.links {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

.resume {
    display: block;
    margin: 20px auto;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.resume:hover {
    background-color: #555;
}

/* Minimalist Theme: Light Mode */
body.light-mode {
    background-color: #f2f2f2;
    color: #333;
}

header.light-mode {
    background-color: #f2f2f2;
    color: #333;
}

.links.light-mode {
    background-color: #f2f2f2;
}

.resume.light-mode {
    background-color: #333;
    color: #fff;
}

/* Minimalist Theme: Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #f2f2f2;
}

header.dark-mode {
    background-color: #333;
    color: #f2f2f2;
}

.links.dark-mode {
    background-color: #333;
}

.resume.dark-mode {
    background-color: #f2f2f2;
    color: #333;
}
